* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Staatliches', cursive;;
    --ff-secondary: 'Palanquin', sans-serif;
    --ff-tertiary: 'Roboto', sans-serif;

    --black: #000;
    --white: #FFF;
    --fc--primary: #4A4E69;
    --fc-secondary: #23053A;
    --bg-heading-primary: #8E9AAF;
    --bg-heading-secondary: #CBC0D3;
    --bg-body: #EFF1FF;
    --bg-title_creme: #FEEAFA;
}

header {
    width: 100vw;
    height: 27.9rem;
    background: var(--bg-heading-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    width: 13.7rem;
    height: 13.7rem;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25))
}

header h1 {
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: var(--white);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header div {
    width: 100%;
    height: 4.9rem;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-heading-secondary);
}

main {
    width: 100vw;
    padding: 1.4rem 3.2rem 6rem;
    background: var(--bg-body);
}

.page {
    width: 32rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 15rem;
}

.page > p {
    width: 30.5rem;
    padding: 1rem 1rem 0;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: var(--ff-secondary);
    font-style: normal;
    font-weight: 400;
    color: var(--fc-secondary);  
}

.presentation {
    display: none;
}

.img-desktop {
    display: none;
}

.galeria {
    margin-top: 6.3rem;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.galeria img {
    width: 32rem;
    height: auto;
    background: url(pablo-merchan-montes-MXovqM130UI-unsplash.jpg);
    border-radius: 2rem;
}

#image1, #image2,
#image3, #image4 {
    position: relative;
    animation: downimg 700ms 300ms backwards;
}

#image1 p, #image2 p,
#image3 p, #image4 p {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    font-family: var(--ff-primary);
    color: var(--fc--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
    padding: .1rem 2.4rem;

    background: var(--bg-title_creme);
    border-radius: 2rem;

    animation: topname 1000ms 350ms backwards;
}

.rodape {
    display: none;
}

@keyframes topname {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downimg {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 425px){

    main {
        width: 100%;
        padding-top: 1.4rem;  
        display: flex;
        justify-content: center;  
    }

    .page {
        padding: 1rem 1 0;
    }

    .page > p {    
        padding: 0 1rem 0; 
        width: 23.5rem;
    }

    .galeria img {
        width: 23rem;
    }
}

@media screen and (min-width: 1024px){
    
    header {
        display: none;
    }

    .page > p {
        display: none;
    }

    .img-desktop {
        display: block;
    }

    main {
        width: 100vw;
        height: 100vh;
        padding: 0;
        box-sizing: border-box;
    }

    .page {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .presentation {
        width: 29.4%;
        height: 100vh;
        background: var(--bg-heading-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .presentation img {
        padding: 3.2rem 8.1rem;
    }

    .presentation div {
        width: 100%;
        text-align: center;
        padding: 2.1rem 7.4rem;
        background: var(--bg-heading-secondary);
    }
    
    .presentation h1 {
        font-family: var(--ff-primary);
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.4rem;
        color:  var(--white);
        text-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.25);
    }
    
    .presentation p {
        font-family: var(--ff-tertiary);
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 3.2rem 4.8rem 12.5rem 5.4rem;      
        color: var(--white);
    }
    
    .imagens { 
        width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .galeria {
        max-width: 100vw;
        max-height: 95vh;
        padding: 6.4rem 8.1rem 3rem;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        gap: 3.2rem;
        grid-template-areas: 
        "A B C"
        "D B F"
        "D E F";  
    }
    
    .galeria div:nth-child(1) {
        grid-area: A;
    }
    .galeria div:nth-child(2) {
        grid-area: B;
    }
    .galeria div:nth-child(3) {
        grid-area: C;
    }
    .galeria div:nth-child(4) {
        grid-area: D;
    }
    .galeria div:nth-child(5) {
        grid-area: E;
    }
    .galeria div:nth-child(6) {
        grid-area: F;
    }
    
    #image1, #image2, #image3, #image4, #image5, #image6{
        max-width: 22rem;
    }
    
    #image1 img, #image2 img,
    #image3 img, #image4 img,
    #image5 img, #image6 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem;
        background-color: wheat;
    }

    #image1 p, #image2 p,
    #image3 p, #image4 p,
    #image4 p, #image6 p {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: .1rem 1.5rem;
    border-radius: 2rem; 
}

    .rodape {
        display: flex;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.8rem;
        align-items: center;
        color: #4A4E69;
    }
    
    .rodape a {
        text-decoration: none;
        color: #4A4E69;
        font-weight: 600;
    }
    
}